<% provide(:title, 'New Student') %>
<% provide(:button_message, 'Add Student') %>

<h1>New Student For</h1>
<h2><%= "#{@customer.first} #{@customer.last}" %></h2>
<%= render 'form' %>

<%= link_to 'Back', customer_students_path %>

