<div id="alert-dialog" style="display:none;">
  <p class="alert-content">
    Are you sure?</br>
    This customer and all of its data will be deleated.</br>
    This action is not reversible!
  </P>
</div>