<% provide(:title, 'Update Customer Info') %>
<% provide(:button_message, 'Update Customer') %>
<h1>Editing customer</h1>

<%= render 'form' %>

<%= link_to 'Back to Customer', @customer %> |
<%= link_to 'List Customers', customers_path %>
