<% #$prev_link = "location.href='index.html?day=".$previous."'";
#$next_link = "location.href='index.html?day=".$next."'";
#$today_link = "location.href='index.html'";

%>
<div id = "top-wrapper">
	<div id="header">
		<div id="buttons">
			<input id="datepicker" type="text" readonly="readonly" class="link-button" style="height:28px; width:140px; padding:0px 10px;">
			<button id="previous" class="link-button" onclick="prev_link"><</button>
			<button id="today" class="link-button" onclick="today_link">Today</button>
			<button id="next" class="link-button" onclick="next_link">></button>
		</div>
		<div id="day"><%= @day %></div>
	</div>
	<div id="rooms">
		<table id="days">
			<tr>
			<td class="blank">&nbsp;</td>

		<% for room in @rooms do %>
	<td class="day-header"><%= room.name %></td>
	<% end %>
			</tr>
		</table>
	</div>
</div>