<% provide(:title, 'Update Lesson') %>
<% provide(:button_message, 'Update Lesson') %>
<h1>Editing lesson</h1>

<%= render 'form' %>
<%= link_to 'Show', @lesson %> |
<%= link_to 'Back', lessons_path %>
