html, body{
	width:100%;
	margin:0px;
	padding-top:10px;
	overflow:scroll;
	font-family:helvetica;
}

h1.ui-title{
	background-image: none !important;
	background-color: transparent !important;
	padding: 0px !important;
}


a.attendance_dialog:hover {
	background-color: inherit !important;
}

#test{
	position:relative;
}
#top-wrapper{
	width:100%; 
	height:auto;
	position:fixed;
	left:0px;
	top:0px;
	z-index:3;
}
#header{
	background-color:#B4E2F6;
	height:92px;
	width:100%;
	overflow-y: scroll;
}
#rooms{
	position:relative;
	overflow-y:scroll;
}
#day{
	font-size:25px;
	font-weight:bold;
	position:absolute;
	left:9%;
	top:25px;
	width:auto;
	height:30px;
	color:white;
}

p.day{
	margin-left:30px;
	font-size:25px;
	font-weight:bold;
}

#buttons{
	float:right;
	width:auto;
	margin-right:50px;
	height:auto;
	background-color:#B4E2F6;
	overflow:visible;
	margin-top:50px;
}

.link-button {
	font-size:0.6em !important;
	font-weight:normal !important;
	padding:0px 5px !important;
	margin-right: 2px;
	visibility: hidden;
	color: rgb(102, 88, 116) !important;
	text-shadow: 0px 0px !important;
	position: absolute;
	
}

.link-button:hover{
	color: #6D3353 !important;
}

.navbar {
	margin-bottom: 0px !important;
}

.button-last{
	margin-right: 20px;
}

span.ui-button-text{
	line-height: 0.7em !important;
}

#date-select {
	cursor: pointer;
	width:110px;
	height: 1.5em !important;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; 
}

#grid-container{
	position:absolute;
	height:auto;
	overflow:scroll;
	width:100%;
	padding:0px;
	margin-top:140px;
}
table#days{
	width:100%;
	background: url('/assets/jquery-ui/eggplant/ui-bg_highlight-soft_25_30273a_1x100.png') repeat-x scroll 50% 50% #30273A;
	/*background-color:#7092B1;*/
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.blank{
	width:7%;
	height:50px;
}

#weekly_header{
	font-size:30px;
	font-weight:bold;
	position:absolute;
	left:30%;
	top:10px;
	width:auto;
	height:50px;
}
td.room-header{
	padding:5px;
	width:11.5%;
	color:white;
}
td.day-header{
	padding:5px;
	width:13.1%;
	color:white;
}
table{
	border-collapse:collapse;
	position:relative;
	right:0;
	left:0;
	text-align:center;
	padding:0px;
}
table#hour-column{
	width:100%;
	border-right: 1px solid black;
}
table.day-column{

	border-right: 1px solid black;
	width:100%;
}
#grid-hour{
	margin-top:0px;
	width:7%;
	float:left;
}
#day-container{
	width:93%;
	height:auto;
	float:left;
	background-color:white;
	padding:0px;
	position:absolute;
	margin:0;
	right:0;
}
.grid-room{
		position:relative;
		margin-top:0px;
		float:left;
		width:12.5%;
		background-color:white;
		height:auto;
}
.grid-day{
		position:relative;
		margin-top:0px;
		float:left;
		width:14.28%;
		background-color:white;
		height:auto;
}
td.time-header{
	border-bottom: 1px solid black;
	height:97px;
	background-color:#EEE;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box;
}
td.time-slot{
	height:24px;
	border-bottom: 1px dotted black;
	padding:0px;
}
td.time-slot-hour{
	border-bottom: 1px solid black;
	height:24px;
	padding:0px;
}
div.event{
	background-color:cyan;
	border-radius:15px;
	opacity:0.6;
	z-index:2;
	overflow:hidden;
	cursor: pointer;
}
h4.event_heading{
	background-color:#3399ff;
	color: black;
	text-align:center;
	margin:0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	top:0px;
	font-size:15px;
	color:black;
	padding:4px;
	overflow:hidden;
}
p.purpose{
	margin-top:0px;
	text-align:center;
	width:100%;
	height:85%;
	overflow:hidden;
}