$linkColor: #47112E;
$navbarText:                      white !default;
$navbarLinkColor:                 white;
$navbarLinkColorHover:            #B6819E;
$navbarLinkColorActive:           #E0E0EB;
$navbarLinkBackgroundActive:      #A4748E;
$navbarBackgroundHighlight: #020031; 
$navbarBackground: #6D3353;
@import "bootstrap";

/* universal */
h1 {
	margin-bottom: 10px;
	background-color: grey;
	padding: 10px;
	background-image: linear-gradient(to bottom, #C4C0C4, #D9DADB);
}

html {
	overflow: scroll;
}

body.padded {
	padding-top: 154px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.btn:first-child {
	color: white;
}

.center { 
	text-align: center !important;
	h1 { 
	margin-bottom: 10px;
	}
}

.inline {
	display: inline-block !important;
}


/* header */
.header-top{
	background-color: $navbarBackgroundHighlight;
	position: relative;
	height: 60px;
}
.logo {
	position: relative;
	margin-left: 70px;
	margin-top: 15px; 
	font-size: 3em;
	background: $navbarBackgroundHighlight;
	float: left;
	color: white !important; 
	text-transform: uppercase; 
	letter-spacing: -1px;  
	line-height: 1;
	width: 400px;
}

.logo:hover {
	color: gray; 
	text-decoration: none;
}

.login {
	position: relative;
	margin-left: 70px;
	margin-top: 15px; 
	font-size: 3em;
	background: $navbarBackgroundHighlight;
	float: left;
	color: white !important; 
	text-transform: uppercase; 
	letter-spacing: -1px;  
	line-height: 1;
	width: 30%;
}
.sign-out{
	margin-top:25px;
	margin-right:50px;
	a{
		color: white !important;
	}
	a:hover{
		color: #B6819E !important;
		text-decoration: none;
	}
} 
ul.nav>li{
  margin: 0px;
  padding-top: 10px;
}

.dropdown-menu{
  display: none; 
  background-color: $navbarBackground;       
  /*background: url('background_3.png') repeat; /*
  /* left: -20px !important;*/
  top: 48px;
  min-width: 100px !important;
  a{
  color: white !important;
  border: none !important;
  }
  a, a.active, a:hover{
    border: none !important;
  }
  a:hover{
  	color: $navbarLinkColorHover !important;
  }
  li{
  }
}
.dropdown-menu:after{
    border-bottom: 6px solid $navbarBackground !important;
  }
/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea; 
	color: #999;
}
footer a { 
	color: #555;
}
footer a:hover { 
	color: #222;
}
footer small { 
	float: left;
}
footer ul {
	float: right; 
	list-style: none;
}
footer ul li { 
	float: left; 
	margin-left: 10px;
}

/* mixins, variables, etc. */ 
$grayMediumLight: #eaeaea;
@mixin box_sizing { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	width: 100%; 
	margin-top: 45px; 
	@include box_sizing;
}

/* sidebar */
aside { 
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter; 
		&:first-child {
			border: 0;
    		padding-top: 0;
    	}
	span {
		display: block;
		margin-bottom: 3px;
  		line-height: 1;
	}
	h1 {
		font-size: 1.6em; 
		text-align: left; 
		letter-spacing: -1px; 
		margin-bottom: 3px;
		} 
	}
}
.gravatar {
	float: left; 
	margin-right: 10px;
}

/* forms */
form{
	margin-bottom: 0px;
}
input, textarea, select, .uneditable-input { 
	border: 1px solid #bbb;
	/*width: 100%;*/
	/*height: auto !important; */
	margin-bottom: 0px !important;  
	color: black;
}

select{
	height: 28px;
}

.disabled_input{
	color: gray;
}

.bootstrap-timepicker-widget{
	background-color: #EEEEEE;
}

.bootstrap-timepicker-widget.dropdown-menu:after{
	border-bottom: 6px solid #EEEEEE !important;
}

.input-sm {
	width:85px;
}

.input-lrg{
	width:280px;
}

.input-med{
	width:120px !important; 
}
.field {
	margin-top:0px;
	margin-right:10px !important;
	vertical-align: center !important;
    
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
	a{
		margin-bottom:0px !important;
	}
}

.alert-error {
	padding:6px !important;
	vertical-align: text-bottom !important;
}

#error_explanation { 
	color: #f00;
ul {
    list-style: none;
	margin: 0 0 18px 0; }
}
.field_with_errors { 
	@extend .control-group; 
	@extend .error;
	color: #B94A48;
}

.calendar-icon{
	width:18px;
}

/* jquery dialog*/
span.ui-icon {
	margin: 0 !important;
	top: 0% !important;
	left: 0% !important;
}

.alert-dialog, .alert-header, .alert-button, {
	border:1px solid #CD0A0A !important;
}

.alert-buttonpane{
	border-top:1px solid #CD0A0A !important;
}
.alert-header {
	background: url("/assets/jquery-ui/blitzer/ui-bg_diagonals-thick_75_f3d8d8_40x40.png") !important;
}

.alert-content{
	background:none !important;
	background-color: white !important;	
}
p.alert-content{
	
	background-color: white !important;
	color: black;
}
	
.alert-button {
	color: #CD0A0A !important;
	background: url("/assets/jquery-ui/blitzer/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50% #E14F1C !important;
}
.alert-button:visited{
	color: #CD0A0A !important;
}

.alert-button:hover {
	background: url("/assets/jquery-ui/blitzer/ui-bg_highlight-hard_100_f6f6f6_1x100.png")  repeat-x scroll 50% 50% #E14F1C !important;
}

.alert-icon {
	background-image: url("/assets/jquery-ui/blitzer/ui-icons_cc0000_256x240.png") !important;
}

.alert-icon:hover {
	background-image: url("/assets/jquery-ui/blitzer/ui-icons_cc0000_256x240.png") !important;
}
.ui-widget-overlay {
	position: fixed !important;
	z-index: 1040 !important;
}

.ui-dialog {
	z-index: 1050 !important;
}