#mobile-container {
	max-width: 200px;
}

.mobile-header{
	padding: 5px;
	background-color: #2C143E;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center; 
	letter-spacing: -1px;  
	line-height: 1;
}