.area, .prefix{
		vertical-align: bottom;
		width: 25px;
		display: inline-block;
		margin-bottom: 0px;
		color: grey; 
	}

.sufix{
	width: 34px;
	margin-bottom: 0px; 
	color: grey; 
}

div.phone_field{
	margin-bottom: 15px; 
	margin-top: 15px;
}

span.phone_field{
	font-weight: bold;
	margin-bottom: 10px;
}
