<label class="radio">
	<%= f.radio_button("lesson", "status", "a") %>Attended
</label>
<label class="radio">
	<%= f.radio_button("lesson", "status", "m") %>Missed
</label>
<label class="radio">
	<%= f.radio_button("lesson", "status", "c") %>Canceled
</label>